  #                                ðŸ˜ŠPYTHON part 1ðŸ˜Š

.ipynb -extention that is in jupyter notebook 

.py -extention that is in python

## INTRODUCTION
        
  ###### 1)BASICS:

In [1]:
2+3 #we can prform direct arithmatic with python and print it(Without using print funtion)

5

In [2]:
'abhi'
2+6           #even though it displaying result without printing ,in this case it
              #will get only print last equation(last result will overwrite on previous)

8

###### 2)DIFFERENT PRINT OPERATION :

In [3]:
# to print anything we can directly use print function
print('abhi')    #support to print string directly
print(2+6)    #itself perform arithmatic computation

abhi
8

In [4]:
#1] 
print ('sum of 2+2 is {}'.format (2+2))  # USE '{} AND .format()' to place result in
                                               #apropriate place
print ("sum of 2+2 is" ,2+2)  # with this comma separated way we can only place rsult at end of string

sum of 2+2 is 4
sum of 2+2 is 4

In [5]:
#2] 
var1=2
va2=3                                                       
print("sum of {} and {} is {}".format (var1,va2,var1+va2)) 

# here it supports 1:1 mapping(i.e in 1st {},first value(i.e var1)will pass,
# in 2nd {},second value(i.e var2)will pass and continued like that in sequence)

#3}
var1 = '9'
var2 = '7'
print("Sum of {} and {} is {}".format(var1,var2,var1+var2))  
 
#logic:as we are passing string so with string '+' means concatination

sum of 2 and 3 is 5
Sum of 9 and 7 is 97

In [6]:
#4}
print ('give two numbers' )
a=int(input())                           #input(): used to getting input from user
b=int(input())
print('sum of {} and {} is {}' .format(a,b,int(a+b)))

give two numbers

ValueError: invalid literal for int() with base 10: ''

In [7]:
#to break 1:1 mapping
a=1
b=6
print('sum of {p} and {q} is {r}'.format(q=a,p=b,r=a+b))

sum of 6 and 1 is 7

###### 3)FINDING TYPE OF VARIABLE :

In [8]:
print (type(20+55j))
print (type('ddd'))
print (type(2.33))
print (type(56))             #USE 'type()' TO FIND CLASS OF OBJECT/TYPE OF VARIABLE

<class 'complex'>
<class 'str'>
<class 'float'>
<class 'int'>

###### 4)isinstance () and getsizeof() :

In [9]:
#isinstance():check if it belongd to perticular task(subclass).it gives o/p in boolean form(True/False)

a=11.2
print(isinstance(a,float))
print(isinstance(a,int))

True
False

In [10]:
#getsizeof():returns the size of an object in byte
import sys  #use before to importing from system
a='A'
b=2.22

print(sys.getsizeof(a))
print(sys.getsizeof(b))

50
24

## STRINGS

###### Strings: 
               creates simply by enclosing character under quotes
* in python single quote is equivalent to double.however its useful in cases like

In [11]:
A='Abhi'
print(A)
B="Abhi"
print(B)         #both are same however if i want to write Abhi's Kitchen
                  #see what happens with single and double quote

    
# C='Abhi's Kitchen'    -----gives syntax error or print only upto Abhi
# print(C)

D="Abhi's Kitchen"
print(D) 

print("----or------")

print('Abhi\'s Kitchen')   (#make use of '\')

print("""
hi
hello                             
how are you
     """)             #triple quotes are used to define multi lines strings.

SyntaxError: unexpected EOF while parsing (<ipython-input-11-640ee2595a0b>, line 24)

* Strings are immutable in python(ie Assignment Operator Cant used)   {immutable = not replacable}
* In String  using  '+'  operator Concatination is performed 
* In String  using  '*'  operator duplicate copies of given string is generated

In [12]:
#'hello' = 'hi'                not possible as its immutable ie not replacable


### 
str_ = "hello world"
# "world replace o with @"

# str_[7] = '@'                # this will give error as string is immutable

a=('Abhi')
b=('shinde')
print ('{}'.format(a+b))         

s='add'
print(s + ' the ' + str("boy"))             #    +  == concatination
                                       # using "str ()"  function we can add string at any time  

print ('{}'.format(a*5))          #    *  == duplication of copies

Abhishinde
add the boy
AbhiAbhiAbhiAbhiAbhi

* string supports various __builtin__ methods
  * ex: print,input ,len, sum, sorted, ord, chr, min, max ,open,read,floor,ceil,write and so many

In [33]:
dir (__builtin__)      #returns list of all existing built_in methods

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [40]:
print(ord('a'))                 #ord(): returns  ascii value of character
print(chr(99))                  #chr(): returns character from ascii value 
print(len('abhijit'))           #len(): returns  length of string
print(sorted('abhijit'))        #sorted(): separates string into character(**in alphabetic way)
print(min('abhijit'))           #min():find minimum letter from alphabet in given string
print(max('abhijit'))           #max():find maximum letter from alphabet in given string

97
c
7
['a', 'b', 'h', 'i', 'i', 'j', 't']
a
t

* FEW MORE IMP OPERATIONS WITH STRINGS

In [47]:
#1) ACCESSING single ELEMENTS FROM STRING
P = "hello world"
print(P[1])
print(P[7])

e
o

In [60]:
#2) ACCESSING multiple ELEMENTS FROM STRING
print(P[0:5])          # [start:end] note: end is excluded
print(P[1:5])
print(P[6:11])

print(""" ----------------------------""")

print(P[:5])           # [:end] initial value is not inputed:here default value=0
                       #(ie first character of string)
print(P[6:])           # [start:] last value is not inputed:here default value=n
                       #(ie last character of string)
    
print(""" ----------------------------""")
    
P[:3]+'l'+P[3:]        #want to add extra 'l' @position 3

hello
ello
world
 ----------------------------
hello
world
 ----------------------------

'helllo world'

In [63]:
p='happy thoughts'
#replace o with@
p[:8]+'@' + p[9:]

'happy th@ughts'

## OPERATORS

* Arithmetic operators: +,-,/,//,*,,%

In [64]:
### WAP to display results using above arithmetic operators on two integers from users.
num1 = int(input('Enter first integer:'))
num2 = int(input('Enter second integer:'))
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1**num2)                  # '**' gives you power of(raise to ie (num1^num2))
print(num1/num2)                  # '/' gives you division in float format
print(num1//num2)                 # '//' gives you division in decimal format
print(num1%num2)                  # '%' gives you reminder

Enter first integer:6
Enter second integer:2
8
4
12
36
3.0
3
0

* comparison operators: ==,!=,>,>=,<,<=

In [65]:
var1 = 5
var2 = 4
print(var1==var2) # False
print(var1!=var2) # True
print(var1>var2)  # True
print(var1>=var2) # True
print(var1<var2)  # False
print(var1<=var2) # False

False
True
True
True
False
False

Logical operators: and, or, not
    * and/or : two operands
    * not    : single operand

In [67]:
print(True and False) # False
print(not True and False) # False
print((not True) and (not False)) # False
print(not (True and (not True or False and True))) # True
print(True or False and (not True or False))  # True
print((True or False and (not True or False)) or True) # True
  
                #priority: 1.bracket
                #          2.(1.not 2.And 3.or)
                #          3.left to right

False
False
False
True
True
True

* Assignment Operators: =,+=,*=,-=,/=,%=,//=

In [7]:
a  = 10
a = a + 20
print(a) # 30
a += 5
print(a) # 35
a -= 10
print(a) # 25
a *= 4
print(a) # 100
a %= 6
print(a) # 4
a /= 10
print(a) # 0.4

30
35
25
100
4
0.4

* Identity operator: is, is not
    * used to determine a certain variable contain
    * works on both scalar and vector

In [11]:
print(4 is 4) # ==
print(4 is not 4) # !=
print(5 is 3)
print(6 is not 7)

True
False
False
True

* membership operators: in, not in
    * used to validate a membership of value
    * works only with iterables

In [12]:
a=('a','b','c','1','2')
print('2'in a)     # as "'2'" is a member of it 
print(2 not in a)  # as 2(as a value) not present so shows #true {and 2 as a string is present}

True
True

In [1]:
print(4 in [5,6,7,4])
print(4 not in [5,6,7,4])

print('----------------')

print('bangalore' in ['chennai','pune','goa','bangalore'])
print('bangalore' not in ['chennai','pune','goa','bangalore'])

True
False
----------------
True
False

#### Bitwise operators:
* ~ : compliment operator (tilde sign) :firstly convert into binary form and then take its 2nd compliment 
* & : AND operator :firstly convert into binary form and then perform a AND operation 
* | : OR operator :firstly convert into binary form and then perform a OR operation 
* ^ : XOR operator :firstly convert into binary form and then perform a XOR operation 
* '>>': Right shift : firstly convert into binary form and then shift decimal point to the right side of number
* <<: left shift : firstly convert into binary form and then shift decimal point to the left side of number

In [13]:
a= ~12    #binary form =00001100 
print(a)
b=12 & 13  #[bitwise AND] binary form =00001100 & 00001101  , =00001100 >>(12)
print(b)
c=12 | 13  #[bitwise OR]binary form =00001100 | 00001101  , =00001101 >>(13)
print(c)
d=12 ^ 13  #[bitwise XOR]binary form =00001100 | 00001101  , =00000001 >>(1)
print(d)
e=12 << 2  #[bitwise left shift]binary form =00001100.00000 , after left shift 0000110000.000 >>(48)
print(e)
f=12 >> 2  #[bitwise right shift]binary form =00001100.00000 ,  after right shift 000011.0000000 >>(3)
print(f)

-13
12
13
1
48
3

## DECISION MAKING AND LOOPS





## decision making 
        - simple if
        - if-else
        - nested if-else

### if :
 * simple if statement
      syntax: 
         if (expression is True):
            <if body>
    
 * when you use 'if' several times in a code it will check each and every if statement instead you can use 'elif' so once any condition it satisfied of any 'elif' it will not waste time to check the other conditions.so recomndded to use 'elif' instead using 'IF' all the times

In [76]:
## WAP to check if a number is positive and print suitable message
 
num = 6 

if (num > 0):
    print('{} is positive.'.format(num))

print('out of the if body')

6 is positive.
out of the if body

### if-else statement:
 * if-else statement
      syntax: 
         if (expression is True):
            <if body>
         else: 
             <else body>

In [78]:
num = -6 

if (num > 0):
    print('{} is positive.'.format(num))
else: 
    print('{} is negative.'.format(num))

print('out of the if body')

-6 is negative.
out of the if body

### Nested if-else statement:
 *       syntax: 
 
         if (expression is True):
              if body         
              
         elif (expression2 is True):
            elif body
            
         elif (expression3 is True):
            elif body
                .......
         else: 
            <else body>

In [79]:
num = 0 

if (num > 0):
    print('{} is positive.'.format(num))
elif (num==0):
    print('{} is zero.'.format(num))
else: 
    print('{} is negative.'.format(num))

print('out of the if body')

0 is zero.
out of the if body

In [80]:
# 1. WAP to check if a number is even or odd.

number = int(input('Enter an integer:'))

## check for even case
if (number%2==0):
    print("{} is an even number.".format(number))
else:
    print("{} is an odd number.".format(number))

Enter an integer:5
5 is an odd number.

In [81]:
# WAP to assign grades to the student based on the scores obtained in the exam. 
#The grades are allocated as follows:

#      Grade â€˜Aâ€™ if scores between 90-100
#      Grade â€˜Bâ€™ if scores between 80-89
#      Grade â€˜Câ€™ if score between 70-79
#      Grade â€˜Dâ€™ if score between 60-69
#      Grade â€˜Eâ€™ if score between 50-59
#      Otherwise, Grade â€˜Fâ€™


score  = float(input('Enter your score:'))

if (score >= 90):
    print('A')
elif ((score >= 80) & (score < 90)):
    print('B')
elif ((score >= 70) & (score < 80)):
    print('C')
elif ((score >= 60) & (score < 70)):
    print('D')
elif ((score >= 50) & (score < 60)):
    print('E')
else:
    print('F')

Enter your score:56
E

In [82]:
# 3. Design a basic calculator program which takes minimum three inputs (2 operands and an operator) 
# from the user to perform addition, subtraction, multiplication, division and modulo.

num1 = int(input('Enter first number: ')) # operand1
num2 = int(input('Enter second number: ')) # operand2
op   = input('Enter operator: ')  # operator

if op=='+': # Add
    print(num1+num2)
elif op=='-': # subtract
    print(num1-num2)
elif op=='*': # product
    print(num1*num2)
elif op=='/': # division
    if num2!= 0:
        print(num1/num2)
    else:
        print('Error: divide by zero not allowed!')
elif op=='%': # modulo
    print(num1%num2)    
else:
    print('Error: Invalid inputs!')

Enter first number: 5
Enter second number: 6
Enter operator: *
30

In [1]:
#find given string is pallindrome or not
a = 'abc'

if  a== a[::-1] :
    print('palindrome')
else:
    print('not a palindrome')

not a palindrome

## loops in python
    - while
    - for loop

#### 1) while loop
* sytntax - while loop

    counter initialisation

 while (expression is True):
         body of the while
         update counter variable
         
* always take care of initilising counter before,then use expression and then update the counter in case of while loop.
* if we want to start or stop the loop based on condtition

In [83]:
## WAP to generate integers from 1 to 10.

counter = 1 # initialisation of counter variable 
while counter < 11:
    print(counter)
    counter += 1 # updating counter variable (incrementing)

1
2
3
4
5
6
7
8
9
10

In [19]:
## if we want all result in same line use >> end = "" 

counter = 1 
while counter < 11:
    print(counter,end=" ") #use,end = ""   >> to print all result in same line
    counter += 1

1 2 3 4 5 6 7 8 9 10

In [84]:
## WAP to generate integers from 10 to 1.
counter = 10 # initialisation of counter variable 
while counter > 0:
    print(counter)
    counter -= 1 # updating counter variable (decrementing)

10
9
8
7
6
5
4
3
2
1

In [7]:
## WAP to generate integers from N to 1 where N is an integer input given by user.
a=int(input('enter a number:'))
if(a>0):
    while a > 0:
        print(a)
        a=a-1
elif(a<0):
    while a < 2:
        print(a)
        a=a+1
else:
     print('0')

enter a number:-6
-6
-5
-4
-3
-2
-1
0
1

In [96]:
## WAP to generate integers from N to 1 where N is an integer input given by user.

n = -6

if n==1:
    print('1')
elif n > 1:
    # print N to 1
    c = n
    while c >= 1:
        print(c)
        c = c - 1
else:
    # print 1 to -10
    c = 1
    print('1')
    print('0')
    while c <= abs(n):
        print('-'+ str(c))
        c = c + 1

1
0
-1
-2
-3
-4
-5
-6

#### 1) for loop
* sytntax -
     
     for (variable) in (set of numbers):
     
     body of the for loop
     
* in for loop statement firstly mention a variable name in bunch name
* increment decrement done by theirselve

In [102]:
## WAP to generate integers from 1 to 10.
for a in [1,2,3,4,5,6,7,8,9,10]:
    print(a)

print('------OR---------')

for a in range(1,11):     # in range(start,end) start is inclusive and end is exclusive
    print(a)

1
2
3
4
5
6
7
8
9
10
------OR---------
1
2
3
4
5
6
7
8
9
10

In [108]:
## WAP to generate even integers from 0 to 10.

for a in range(0,11):
    if (a%2==0):
        print(a)
        
print('-------OR--------')

for i in range(0,11,2):   #range supports to print number with gap of 2(as its mention in range exprn)
    print(i)

0
2
4
6
8
10
-------OR--------
0
2
4
6
8
10

In [111]:
## WAP to generate square of the integers between 1 to 10.
for s in range(1,11):
    print(s**2)

1
4
9
16
25
36
49
64
81
100

### break and continue
- break: stops current running loop,and go out of that loop
- continue: skips a current running iteration and resumes with next iteration of same loop

In [112]:
### WAP to generate integers 1 to 10 but skip 5

for i in range(1,11):
    if i==5:
        continue # sends cursor/control at line 3 
    print(i)

1
2
3
4
6
7
8
9
10

In [113]:
### WAP to generate integers 1 to 10 and break after 5
for i in range(1,11):
    if i==5:
        break # sends cursor/control at line 6 (outside loop body)
    print(i)

1
2
3
4

In [114]:
# 1.  WAP to read and display input from the user as long as input is an integer number;
#come out of the loop when input other than integers

while True:
    val = input()
    if val.isdigit(): # isinstance(val,int)
        pass
    else:
        break

5
l

#### for loop: 
*used when number of iteration are known.
*counter variable declared in declaration only
*preferable when we exactly know how many times the loop will repeate

#### while loop 
*used when number of iteration are unknown.
*counter variable need declare before
*preferable when run infinite no of time till condition is met.

## LIST  [ ]
 - ordered and changable data structure
 - allows duplicate data members
 - can be indexed
 - mutable(changable), hetregenous data type(allowed diffrent datatypes together)

In [2]:
#list always comes with SQUARE bracket and commas

list_ = [3,4,5,6,'string',True,['bangalore','chennai']] 
print(type(list_))
print(list_)

<class 'list'>
[3, 4, 5, 6, 'string', True, ['bangalore', 'chennai']]

### List operations
#### 1) Accessing list items

In [6]:
## indexing 
print(type(list_[3]))
print(type(list_[2]))
print(type(list_[5]))
print(type(list_[6]))
print(type(list_[4]))

<class 'int'>
<class 'int'>
<class 'bool'>
<class 'list'>
<class 'str'>

In [5]:
list_

[3, 4, 5, 6, 'string', True, ['bangalore', 'chennai']]

In [7]:
### 'chennai'
print(list_[6]) # returns both bangalore and chennai
print(list_[6][1]) # chennai

['bangalore', 'chennai']
chennai

###

#### 2) list negative indexing

In [9]:
#true
print(list_[-2])

#for benglore
print(list_[-1][-2])

True
bangalore

#### 3) slicing/ range of values: 
    - obj[start:end]     # start is always inclusive; end is exclusive

In [11]:
#to find range /slice (ie no of consecutive element from list )
print(list_[3:6])

[6, 'string', True]

In [12]:


## negative slicing 
print(list_[-5:-2]) ### -2 will be excluded

[5, 6, 'string']

#### 4) changing values of the elements in the list

In [21]:
list_ = [3,4,5,6,7,'string',True,['bangalore','chennai'], 4.0, 'a',5,2,8]
print(list_)
list_[-6][1] = 'goa'
list_

[3, 4, 5, 6, 7, 'string', True, ['bangalore', 'chennai'], 4.0, 'a', 5, 2, 8]

[3, 4, 5, 6, 7, 'string', True, ['bangalore', 'goa'], 4.0, 'a', 5, 2, 8]

In [22]:
## replace ['bangalore', 'goa'] with 0
list_[-6]=0
print(list_)

[3, 4, 5, 6, 7, 'string', True, 0, 4.0, 'a', 5, 2, 8]

#### 5) Add an item in the existing list : append(), extend(), insert()

#### .append() :               
- used to insert single element after last element/item

In [23]:
## insert 'city' to the list_
print(list_)
list_.append('city') # always inserts after last element/item
print(list_)

[3, 4, 5, 6, 7, 'string', True, 0, 4.0, 'a', 5, 2, 8]
[3, 4, 5, 6, 7, 'string', True, 0, 4.0, 'a', 5, 2, 8, 'city']

#### .insert() :               
- used to inserts at any desired position

In [24]:
print(list_)
list_.insert(4, 'city') # inserts at given position
print(list_)

[3, 4, 5, 6, 7, 'string', True, 0, 4.0, 'a', 5, 2, 8, 'city']
[3, 4, 5, 6, 'city', 7, 'string', True, 0, 4.0, 'a', 5, 2, 8, 'city']

#### .extend() :               
- used to inserts multiple elements after last element/item

In [26]:
print(list_)
list_.extend(['b','c','d'])
print(list_)

[3, 4, 5, 6, 'city', 7, 'string', True, 0, 4.0, 'a', 5, 2, 8, 'city', 'b', 'c', 'd']
[3, 4, 5, 6, 'city', 7, 'string', True, 0, 4.0, 'a', 5, 2, 8, 'city', 'b', 'c', 'd', 'b', 'c', 'd']

In [30]:
ss=[4,'p',"abhi"]
print(ss)

[4, 'p', 'abhi']

In [31]:

ss.extend('abhi') # with extend if one argument is pass sorted (slpitted) string will come in result
print(ss)

[4, 'p', 'abhi', 'a', 'b', 'h', 'i']

In [32]:

ss.append('abhi')  #with append if one argument is pass collected(as it is) string will come in result
print(ss)

[4, 'p', 'abhi', 'a', 'b', 'h', 'i', 'abhi']

#### 6) Delete an item from the list: pop(), remove(), del
    .pop():
      - removes by index: only single element removes by passing its index number

In [23]:
print(list_)
list_.pop()  #by defualt it takes (-1)as indexing number and remove lat element
print(list_)


print('_______________________________________')


list_.pop(6)#as 6 is given in paranthesis 6th element ie ('7'here) is get removed from list
print(list_)

[3, 4, 5, 6, 'city', 'city', 'string', True, 0, 4.0, 'a', 5, 2, 8, 'city', 'city', 'city', 'b', 'c']
[3, 4, 5, 6, 'city', 'city', 'string', True, 0, 4.0, 'a', 5, 2, 8, 'city', 'city', 'city', 'b']
_______________________________________
[3, 4, 5, 6, 'city', 'city', True, 0, 4.0, 'a', 5, 2, 8, 'city', 'city', 'city', 'b']

 .remove() removes by value: -only single element removes by passing its value(ie element name that you want to remove)

In [32]:
##remove:
list_=[3, 4, 5, 6, 'city', True, 0, 4.0, 'a', 5, 2, 8, 'city', 'city', 'city', 'b']
list_.remove('city')   #removes first 'city' from list
print(list_)

[3, 4, 5, 6, True, 0, 4.0, 'a', 5, 2, 8, 'city', 'city', 'city', 'b']

In [33]:
#### removing multiple instances of an element from the list(as multiple 'city' to remove it use loop)
list_ = ['city',3,4,5,6,'city']
for each in list_:
    if each == 'city':
        list_.remove(each)
print(list_)

[3, 4, 5, 6]

In [35]:
list_ = [3, 4, 5, 6, 'city', 7, 1, 0, 4.0, 'a', 5, 2, 8, 'city', 'b', 'c','city']
print(list_)
list_.count('city')  #.count to count occurance

[3, 4, 5, 6, 'city', 7, 1, 0, 4.0, 'a', 5, 2, 8, 'city', 'b', 'c', 'city']

3

#### Delete function: its not perticular list operation infact supports all python operations
#### del : 
    - which delete's single or multiple elements

In [36]:
list_=[3, 4, 5, 6, True, 0, 4.0, 'a', 5, 2, 8, 'city', 'city', 'city', 'b']
del list_[-3] #delete single element at position -3(ie'city')
print(list_)
del list_[-4:-1] #delete multiple element at position from -4:-1(-1 is excluded) 
print(list_)

[3, 4, 5, 6, True, 0, 4.0, 'a', 5, 2, 8, 'city', 'city', 'b']
[3, 4, 5, 6, True, 0, 4.0, 'a', 5, 2, 'b']

In [37]:
# to ensure elements present or not
list_=[3, 4, 5, 6, True, 0, 4.0, 'a', 5, 2, 8, 'city', 'city', 'city', 'b']
print('city' in list_) # "city" is available in the list
print('City' in list_) # "City" is not available in the list

True
False

In [38]:
### WAP to generate a list of integers from 1 to 20 using loop.
int_list = [] 

for each in range(1,21):
#         print(int_list) # printing list object
        int_list.append(each)
    
    
print(int_list, type(int_list))     # final list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] <class 'list'>

In [39]:
### WAP to generate a list of square of integers from 1 to 20 using loop.
square_list = [] 

for each in range(1,21):
        square_list.append(each**2)
    
    
print(square_list, type(square_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400] <class 'list'>

In [40]:
list1=['a','v','f','f']
list2=list1
print(list1)
print(list2)

['a', 'v', 'f', 'f']
['a', 'v', 'f', 'f']

#### copying a list object

In [41]:
list1 = ['a','b','c','d']
list2 = list1  # copy by reference
list2.append('extra')
print(list1)
print(list2)
 
#in this case as we directly asign list1 to list2 it copies all element but then if you add ant extra 
#then list1 also get updated automatically

['a', 'b', 'c', 'd', 'extra']
['a', 'b', 'c', 'd', 'extra']

In [43]:
list1 = ['a','b','c','d']
list2 = list1.copy() # copy by value:only list2 will get updated
list2.append('extra')
print(list1)
print(list2)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'extra']

###### To print list in shopping list format we need to use for loop

In [36]:
#EX
ex = [ 1,2,3,4,5,6,7,8,9,10]     #reguler list
print (ex)
print('----------------------')
for i in ex:                     #list in tabuler form need to use for loop
    print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
----------------------
1
2
3
4
5
6
7
8
9
10

In [46]:
#ex2
ex2 = ['oil','sugar','bread','tomato','onion']
print(ex2)
print('-----------')
for i in range(4):
    print(ex2[i])   #onion will not come as range is upto 4
print('-----or------')
for i in ex2:
    print(i)

['oil', 'sugar', 'bread', 'tomato', 'onion']
-----------
oil
sugar
bread
tomato
-----or------
oil
sugar
bread
tomato
onion

## Tuple
 - ordered data structure
 - can be indexed
 - duplication allowed
 - immutable, hetregenous data type
 - read only,Immutable(write proof python data)

In [44]:
#tuple always comes with SIMPLE bracket and commas
tup = (3,2,4,5,6,4.5,2.0,'string',(2,3,4),[4,5,6])
print(type(tup))
print(tup)

<class 'tuple'>
(3, 2, 4, 5, 6, 4.5, 2.0, 'string', (2, 3, 4), [4, 5, 6])

In [48]:
l = [1,2,3] # list
print(type(l)) #
print(type(tuple(l)))       # can be typecast in tuple

<class 'list'>
<class 'tuple'>

In [49]:
#### Accessing elements: indexing, slicing, negative indexing, negative slicing :-ALLOWED
tup = (3,2,4,5,6,4.5,2.0,'string',(2,3,4),[4,5,6])
tup[-2]

(2, 3, 4)

### changing an item in tuple: allowed?

In [ ]:
# tup[-3] = 0   # will return error because tuple is immutable

In [50]:
l = (1,2,3,4)   # to check operation press .tab
                #  only index and count operation will support
    l.

[2, 4, 6, 8]

In [1]:
###
l = []              #here firstempty list is created and then operated as tuple
for i in (1,2,3,4):
    l.append(i*2)
l

[2, 4, 6, 8]

## Dictionary
 syntax:
 {'key1':'val1', 'key2':'val2', 'key3':'val3', ....., 'keyN':'valN'}
    - unordered data structures
    - values are mutable; keys are immutable
    - indexing can be performed
    - values can be any python supported data types
    - keys must be string or immutable python type
    - appears in (key,value) pair
    - similer like our english dictionary having keywors(keys) and meaning(value)

In [3]:
#dictionaries always comes with CURLY bracket withkeys ,values and commas

d = {'a':1,'b':2.0,'c':'c','d':True}
print(type(d))
print(d)

<class 'dict'>
{'a': 1, 'b': 2.0, 'c': 'c', 'd': True}

In [4]:
students = {'Name':['Rama','Peter','Harry','Jack','Jill'],  #value can be list in dictionary
           'RollNo':(1,2,3,4,5),                            #value can be tuple in dictionary
           'Age':[3,5,6,7,8],
           'Address':{'city':['Bangalore','Chennai','Pune','Delhi'],#itself can consist another dictionary
                     'Pincode':('01','03','04','05','07')}}
students

{'Name': ['Rama', 'Peter', 'Harry', 'Jack', 'Jill'],
 'RollNo': (1, 2, 3, 4, 5),
 'Age': [3, 5, 6, 7, 8],
 'Address': {'city': ['Bangalore', 'Chennai', 'Pune', 'Delhi'],
  'Pincode': ('01', '03', '04', '05', '07')}}

#### Accessing values of the dictionary

In [5]:
print(students['Name'][1]) # Peter
print(students['Name'][-1]) # Jill
print(students['Address']['Pincode'][-2])

Peter
Jill
05

In [62]:
## fetch '03' value of the pincode

print(students['Address']['Pincode'][1])

##fetch delhi 

print(students['Address']['city'][-1])

03
Delhi

In [66]:
# replace 'chennai' with "Mumbai"
print(students)
students['Address']['city'][1]='mumbai'
students

{'Name': ['Rama', 'Peter', 'Harry', 'Jack', 'Jill'], 'RollNo': (1, 2, 3, 4, 5), 'Age': [3, 5, 6, 7, 8], 'Address': {'city': ['Bangalore', 'Chennai', 'Pune', 'Delhi'], 'Pincode': ('01', '03', '04', '05', '07')}}

{'Name': ['Rama', 'Peter', 'Harry', 'Jack', 'Jill'],
 'RollNo': (1, 2, 3, 4, 5),
 'Age': [3, 5, 6, 7, 8],
 'Address': {'city': ['Bangalore', 'mumbai', 'Pune', 'Delhi'],
  'Pincode': ('01', '03', '04', '05', '07')}}

In [67]:
## adding new key:val pair
students['scores'] = [100,200,300]
students

{'Name': ['Rama', 'Peter', 'Harry', 'Jack', 'Jill'],
 'RollNo': (1, 2, 3, 4, 5),
 'Age': [3, 5, 6, 7, 8],
 'Address': {'city': ['Bangalore', 'mumbai', 'Pune', 'Delhi'],
  'Pincode': ('01', '03', '04', '05', '07')},
 'scores': [100, 200, 300]}

In [69]:
### loop through dictionary
### printing items (item=key:value pair)
for k,v in students.items():
    print(k,"::",v)

Name :: ['Rama', 'Peter', 'Harry', 'Jack', 'Jill']
RollNo :: (1, 2, 3, 4, 5)
Age :: [3, 5, 6, 7, 8]
Address :: {'city': ['Bangalore', 'mumbai', 'Pune', 'Delhi'], 'Pincode': ('01', '03', '04', '05', '07')}
scores :: [100, 200, 300]

In [70]:
### keys
for k in students.keys():
    print(k)

Name
RollNo
Age
Address
scores

In [71]:
### values
for v in students.values():
    print(v)

['Rama', 'Peter', 'Harry', 'Jack', 'Jill']
(1, 2, 3, 4, 5)
[3, 5, 6, 7, 8]
{'city': ['Bangalore', 'mumbai', 'Pune', 'Delhi'], 'Pincode': ('01', '03', '04', '05', '07')}
[100, 200, 300]

In [22]:
#.get >> fetching values from dictionries
data = {1:'abhi',2:'loves',3:'indian',4:'cricket'}
print(data.get(3)) #using 'get' as well we can fetch desired value
print(data.get(5)) #here 5no key is not present still it wont give you any error unlike reguler method of fetching values
data.get(5,'more')  #we can assign value to unspeciafied key directly

indian
None

'more'

In [24]:
#creating ditioanries using lists  >> using function 'ZIP'

list1 = ['abhi','pranav','anish']          #contains keys
list2 = ['professor','devloper','bsnl']    ##contains values
dict_ = dict(zip(list1,list2))           #zip will mix together
                                         #dict will create mixture as dictionary
print(dict_)
dict_ ['ram'] = 'HR'                     #we can add key value pair in this way
print(dict_)
del dict_['anish']                       #we can delete in this way
print(dict_)

{'abhi': 'professor', 'pranav': 'devloper', 'anish': 'bsnl'}
{'abhi': 'professor', 'pranav': 'devloper', 'anish': 'bsnl', 'ram': 'HR'}
{'abhi': 'professor', 'pranav': 'devloper', 'ram': 'HR'}

## Sets
 - unordered data structure
 - indexing can not be performed
 - duplicate members are not allowed

In [72]:
##comes with curly bracket with values only
print(type({})) # empty {} is always dict type
print(type({1,2,3})) # {} with numbers seperated by comma converts to set type
print(type(set([1,9,11]))) # set() method can be used to make list to set type

<class 'dict'>
<class 'set'>
<class 'set'>

In [2]:
s={1,1,2,3,4,4}  # duplicate members can not be allowed
print(s)
s1={45,85,65,25,12}   # unstructured/unordered that is sequence always changes,so indexing not possible with set
print(s1)

{1, 2, 3, 4}
{65, 12, 45, 85, 25}

In [74]:
set1 = set(range(1,21)) # set1
set2 = set(range(15,31)) # set2
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30}

In [75]:
print(set1.intersection(set2))
print(set1)

{15, 16, 17, 18, 19, 20}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [76]:
print(set1.intersection_update(set2))
print(set1)

None
{15, 16, 17, 18, 19, 20}

## list comprehension :
    -works on list
   #### syntax - list comprehension
    - [<output expression> for <variable> in <iterable> (<optional>)]

In [78]:
## WAP to generate a list of integers from 1 to 10.
# using loop
l_ = []
for each in range(1,11):
    l_.append(each)
l_

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
# list comprehension
l_ = [each for each in range(1,11)]
l_

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
## WAP to generate a list of integers square from 1 to 10.
# using loop
l_ = []
for each in range(1,11):
    l_.append(each**2)
print(l_ )

# using list comprehension
l_ = [each**2 for each in range(1,11)]
print(l_)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [88]:
## WAP to generate a list of even integers from 1 to 10.
# using loop
l_ = []
for each in range(1,11):
    if each%2==0:
        l_.append(each)
print(l_ )

# list comprehension
[each for each in range(1,11) if each%2==0] #simple bracket is important(as it LIST comprehension)

[2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [94]:
## table of 2

for i in range(1,6):
    for j in range(1,4):
        if j%2==0:
            print(i*j)
            
print('----------OR-------------')
            
[i*j for i in range(1,5) for j in range(1,4) if j%2==0]     #list comprehension

2
4
6
8
10
----------OR-------------

[2, 4, 6, 8]

In [95]:
## Map to list comprehension

for i in range(1,5):
    for j in range(1,4):
        if j%2==0:
            print((i*j,i,j))
            
[(i*j,i,j) for i in range(1,5) for j in range(1,4) if j%2==0] #returning multiple values(i*j,i,j)
                                                        #not possible so make it as tuple and use

(2, 1, 2)
(4, 2, 2)
(6, 3, 2)
(8, 4, 2)

[(2, 1, 2), (4, 2, 2), (6, 3, 2), (8, 4, 2)]

In [112]:
### WAP to print number if it is odd else square of number
j=[]
for i in range(1,11):
    if i%2==0:
        j.append(i**2)
    else:
        j.append(i)
print(j)

print('----------OR------------')

#using list comrehension
print([i**2 if i%2==0 else i for i in range(1,11)])

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]
----------OR------------
[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

## List generator :
    -works on list
   #### syntax - list generator
    - (<output expression> for <variable> in <iterable> (<optional>))

In [ ]:
#have to clear idea with help of youtube videos on it

In [113]:
## WAP to generate a list of integers square from 1 to 10.
list((each for each in range(1,11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]